body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #050505; /* Fondo casi negro */
    font-family: 'Segoe UI', sans-serif;
}

canvas {
    display: block;
}

.ui {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none; /* Para que no interfiera con el clic */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}